#logosquare {
    position:absolute;
    background-color: rgb(73, 146, 210);
    width: 20%;
    height: 10%;
    left:40%;
    top:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    text-align: center;
}
#topbar {
    position:fixed;
    background-color: rgb(105, 157, 202);
    width:100%;
    height: 10%;
    left:0;
    top:0;
    z-index: -1;
}
#leftcolumn {
    display: flex;
    float: left;
    position: absolute;
    width: 10%;
    height: 90%;
    top:0;
    left:0;
    background-color: rgb(219, 205, 170);
}
#rightcolumn {
    display: flex;
    float: right;
    position: absolute;
    width: 10%;
    height: 90%;
    top:0;
    right:0;
    background-color: rgb(219, 205, 170);
}
#centerboxstuff {
    position: fixed;
    width: 80%;
    height: 80%;
    left:10%;
    right:10%;
    top:10%;
    background-color: rgb(217, 212, 199);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.informationbox {
    position: relative;
    left: 25%;
    margin-top: 15px;
    
}
.formbutton {
    position: relative;
    left: 25%;
}
#timer {
    position: absolute;
    bottom: 0;
    margin-left:10px;
}
#footerstuff {
    position: fixed;
    width: 100%;
    height: 10%;
    bottom: 0;
    left:0;
    background-color: rgb(105, 157, 202);
}
.error {
    color: red;
    font-size: 15px;
}
.paradivs {
    line-height: 5px;
}