.error {
    color: red;
    font-size: 15px;
}
#backgrounddiv2 {
    --s: 50px; /* control the size*/
    --c1: rgb(206, 164, 138);
    --c2: rgb(252, 235, 182);

    --g:conic-gradient(at 90% 40%,#0000 75%,var(--c1) 0);
    background: var(--g),var(--g) var(--s) var(--s) var(--c2);
    background-size: calc(2*var(--s)) calc(2*var(--s));
    
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
h1 {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(252, 235, 182);
    width: 20%;
    height: 15%;
    margin-left: auto;
    margin-right: auto;
}
.centerstuff {
    text-align: center;
    background-color: rgb(252, 235, 182);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid rgb(221, 153, 110);
}
#centerstuff {
    text-align: center;
    background-color: rgb(252, 235, 182);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid rgb(206, 164, 138);
}
input[type=submit] { /*for each submit input*/
    background-color: white;
    border: none;
    padding: 8px 16px;
    text-decoration: none;
    margin-top: 15px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input[type=submit]:hover {
    background-color: rgb(206, 164, 138);
}